@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

* {
   box-sizing: border-box;
   margin: 0;
   padding: 0; 
}
/* Assign default font and background color for the website */ 

body {
    font-family: 'Roboto', sans-serif;
    background-color: rgb(143, 99, 166);
}

/* Style the header with a yellow background and some padding */

.header {
    overflow: hidden;
    background-color: #FFFF00;
    padding: 10px 10px;
}

/* Style the header links */

.header a {
    float: left;
    color: #000000;
    font-weight: bold;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
    border-radius: 4px;
  }

/* Style the logo link */ 

.header a.logo {
    font-size: 25px;
    font-weight: bold;
}

/* Change the background color on mouse-over */

.header .logo a:hover {
    background-color: transparent;
    color: #000000;
}

/*  Gave style to the active link */

.header a.active {
    background-color:  rgb(239, 180, 190);
    color: #FFFFFF;
}

/* Link the link section to the right of the header */

.header-right {
    float: right;
}

/* Style the quiz container */

.container {
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 50%;
    padding-top: 80px;
}

.question {
    margin-bottom: 20px;
    font-size: 30px;
    font-weight: bold;
}

.choice-container {
    display: flex;
    margin-bottom: 0.5rem;
    width: 100%;
    font-size: 1.8rem;
    border: 0.1rem solid rgb(86, 165, 235, 0.25);
    border-radius: 10px;
    background-color: white;
}

.choice-container:hover {
    cursor: pointer;
    box-shadow: 0 0.4rem 1.4 rem rgba(86, 185,235, 0.5);
    transform: translate(-0.1rem);
    transition: 100ms;
}

.choice-prefix {
    padding: 1.5rem 2.5rem;
    background-color: pink;
    border-radius: 10px;
    color: black;
}

.choice-text {
    padding: 1.5rem;
}