@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&family=Roboto:wght@100&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Assign default font and background color for the website */

body {
    font-family: 'Roboto', sans-serif;
    background-color: white;
}

/* Style the header with a yellow background and some padding */

.header .logo {
    overflow: hidden;
    background-color: rgb(109, 202, 233);
    padding-top: 10px;
    padding-bottom: 10px;
    position: relative;
    text-align: center;
}

.logo .fa-solid {
    font-family: 'Patrick Hand', cursive;
    letter-spacing: 5px;
    font-size: 40px;
}

.header a {
    color: black;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
    display: block;
}

.header #header-right {
    display: none;
    font-weight: bolder;
    letter-spacing: 1px;
    background-color: rgb(88, 118, 128, 0.15);
}

#header-right a:hover {
    background-color: rgb(88, 118, 128, 0.25);
    transition: box-shadow .3s;
    /* adding the transition to make it more attractive and interactive for the user*/
}

.header a.icon-bar {
    background: rgb(109, 202, 233);
    font-size: 30px;
    display: block;
    position: absolute;
    padding: 12px;
    right: 0;
    top: 0;
}

/* Style the quiz container */

.quiz-container {
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 500px;
    width: 50%;
    margin-top: 80px;
    border-radius: 5px 5px 5px 50px;
    border: 2px solid black;
    padding: 10px 5px 15px;
}

.question {
    margin-bottom: 20px;
    font-size: 30px;
    font-weight: bold;
}

.choice-container {
    display: flex;
    margin-bottom: 0.5rem;
    width: 100%;
    font-size: 1.8rem;
    border: 0.1rem solid black;
    border-radius: 10px;
    background-color: #FFFFFF;
}

.choice-container:hover {
    cursor: pointer;
    box-shadow: 0 0.4rem 1.4 rem rgba(86, 185, 235, 0.5);
    transform: translate(-0.1rem);
    transition: 100ms;
}

.choice-prefix {
    padding: 1.0rem 2.0rem;
    background-color: rgb(246, 212, 218);
    border-radius: 10px 0px 0px 10px;
    color: black;
    font-weight: bold;
}

.choice-text {
    padding: 1.0rem;
}

.score-area .scores {
    display: inline-block;
    margin-left: 40px;
}